<!--base.html-->
<!--网站的基本模板，提供网站的主要设计-->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=devic-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>
        {% block title %} {% endblock %}
    </title>

    {% include 'link_script.html' %}
</head>
<body>
    <nav>
        <ul class="nav">
            <li><a href="/">首页</a></li>
            <li><a href="{% url 'postarticle' %}">发布</a></li>
            {% block login %} {% endblock %}


        </ul>
    </nav>
            {% block head %} {% endblock %}
            {% block menu %} {% endblock %}
            {% block content %} {% endblock %}
            {% block postcomment  %} {% endblock %}
            {% block comment  %} {% endblock %}
            {% block footer  %} {% endblock %}
            {% include 'footer.html' %}

</body>
</html>