{% extends 'base.html' %}
{% load markdown_deux_tags %}
{% block title %}文章{% endblock %}

{% block login %} 

{% if not login_status %}
<li><a href="{% url 'login' %}">登录</a></li>
{% else %}
<li><a href="{% url 'login' %}">退登</a></li>
{% endif %}
{% endblock %}


{% block content %} 
{% for article in articles %}

<div class="panel panel-default" >
    <div class="panel-heading" >
        <p style = 'font-family:微软雅黑;font-size: 16pt;font-weight: bold;' align='center'>
            <a href="{% url 'showpage' article.id %}">{{article.title}}</a>
         </p>
    </div>

    <div class="panel-body" style="background-color:#ffffdd " align='center'>
        <p>
            {{article.content|truncatechars:40|markdown}}
        </p>
    </div>
    
    <div class="panel-footer" style="background-color: #efefef">
        <p align='right'>
            发布者:{{article.pub_author}}
            发布时间:{{article.pub_data|date:"Y M d,h:m:s"}}
            浏览量:{{article.looks}}
        </p>
     </div>

    </div>
    
    {%endfor%}
{% endblock %}


<!-- 实现分页 -->
{% block comment  %} 

<div>
<nav class="nnn">
    <ul class="pagination">
        {% if articles.has_previous %}
        <li class="">
        <a href="?page={{ articles.previous_page_number }}" aria-label="Previous">
        <span aria_hidden="true">&laquo;</span></a>
        </li>
        {% endif %}
        
        {% for page_num in articles.paginator.page_range %}
            {% if page_num == articles.number %}
         <li class="active"><a href="?page={{ page_num }}">{{page_num}}</a> </li>
            {% else %}
         <li class=""><a href="?page={{ page_num }}">{{page_num}}</a> </li>
            {% endif %}
        {% endfor %}
        
        {% if articles.has_next %}
         <li class="">
              <a href="?page={{ articles.next_page_number }}" aria-label="Next">
                  <span aria_hidden="true">&raquo;</span></a>
        </li>
      {% endif %}
    </ul>
</nav>
</div>
{% endblock %}